<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161004621494-504kt521iffvm5scsjhf27istjbenkgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161004621494-504kt521iffvm5scsjhf27istjbenkgf</string>
	<key>API_KEY</key>
	<string>AIzaSyCAQ2GBNRbrXOTht8BqGyMqqLKncFWBxgE</string>
	<key>GCM_SENDER_ID</key>
	<string>161004621494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tn.radhimighri.TinderLikeApp</string>
	<key>PROJECT_ID</key>
	<string>tinderlikeapp-7f412</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderlikeapp-7f412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161004621494:ios:1942eebc1c2d51c1782017</string>
	<key>DATABASE_URL</key>
	<string>https://tinderlikeapp-7f412.firebaseio.com</string>
</dict>
</plist>